.countdown {
  width: 100dvw;
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: var(--viu-red);

  .button {
    white-space: nowrap;
  }
}

.countdown {
  position: relative;
  overflow: hidden;
}

.countdown__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation-duration: var(--seconds);
  animation-name: countdown-progress;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  z-index: 2;
  transform: translateY(50%);
}

.countdown__background-color {
  position: relative;
  background-color: var(--midnight-blue);
  width: 100%;
  height: 100%;
  z-index: 2;
}

.countdown__warn-element {
  position: absolute;
  top: 0;
  left: 3%;
  width: clamp(175px, calc(10.9375rem + ((1vw - 3.75px) * 29.0909)), 415px);
  transition: transform 1s ease-in-out;
  z-index: 1;

  .countdown--warning-1 & {
    transform: translateY(-80%);
  }

  .countdown--warning-2 & {
    animation: jump 1.5s ease-in-out infinite;
  }
}

.countdown__time {
  font-family: monospace;
  font-size: clamp(110px, calc(6.875rem + ((1vw - 3.75px) * 25.4545)), 320px);
  z-index: 2;
  color: white;
  position: relative;
  left: -50%;
  transform: translateX(50%);
  transition: transform 0.5s ease-in-out, left 0.5s ease-in-out;

  .countdown--warning-1 & {
    @media screen and (max-width: 1769px) {
      left: 0;
      transform: translateX(0);
    }
  }

  .countdown--overtime & {
    &::before {
      content: '-';
      position: absolute;
      top: 0;
      left: 0;
      transform: translateX(-100%);
    }
  }
}

.countdown__buttons {
  position: fixed;
  display: flex;
  gap: 0.8rem;
  bottom: 1.5rem;
  right: 2rem;
  z-index: 5;

  @media screen and (max-width: 750px) {
    right: 50%;
    transform: translateX(50%);
    bottom: 5rem;
  }
}

@keyframes countdown-progress {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(100%);
  }
}

@keyframes jump {
  0%,
  100% {
    transform: translateY(-80%);
  }
  50% {
    transform: translateY(-90%);
  }
}
