.inputs__container {
  --font-size: clamp(60px, calc(3.75rem + ((1vw - 3.75px) * 16.9697)), 200px);

  width: 100dvw;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--midnight-blue);

  .button {
    font-size: 1.5rem;
  }
}

.inputs__container-inner {
  margin: 1rem;
}

.inputs__quick-options {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
  flex-wrap: wrap;
}

.button_quick-option {
  flex-grow: 1;
}

.inputs {
  display: flex;
  flex-direction: column;
}

.inputs__fields {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  background-color: transparent;
  border-radius: 8px;

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type='number'] {
    -moz-appearance: textfield;
    appearance: textfield;
  }
}

.inputs__field {
  color: white;
  font-size: var(--font-size);
  width: calc(var(--font-size) * 1.5);
  text-align: center;
  background: var(--midnight-blue);
  transition: border-color 0.2s ease;
  border: 0;
}

.inputs__field:focus {
  outline: none;
}

.inputs__field {
  margin: 0 10px;
}

.inputs__field-separator {
  color: white;
  font-size: var(--font-size);
  line-height: 1;
  transform: translateY(-0.1em);
}

.button_start {
  margin-top: 2.5em;
}
