.footer {
  position: fixed;
  display: flex;
  justify-content: center;
  bottom: 1.5rem;
  left: 0;
  width: 100%;
  font-size: 12px;
  margin-top: 20px;
  text-align: center;
  z-index: 4;
}

.madeby {
  font-size: 2em;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  background-color: rgba(240, 240, 240, 0.8);
}

.madeby svg {
  display: inline;
  height: 0.9em;
  vertical-align: baseline;
  overflow: visible;
}

.madeby__link:hover .viulogo__v,
.madeby__link:active .viulogo__v,
.madeby__link:focus .viulogo__v {
  animation: 0.2s ease-out forwards fill, 0.2s ease-in-out forwards jump;
}

.madeby__link:hover .viulogo__i,
.madeby__link:active .viulogo__i,
.madeby__link:focus .viulogo__i {
  animation: 0.2s ease-out 0.1s forwards fill,
    0.2s ease-in-out 0.1s forwards jump;
}

.madeby__link:hover .viulogo__u,
.madeby__link:active .viulogo__u,
.madeby__link:focus .viulogo__u {
  animation: 0.2s ease-out 0.2s forwards fill,
    0.2s ease-in-out 0.2s forwards jump;
}

@keyframes fill {
  from {
    fill: inherit;
  }
  to {
    fill: #ff2300;
  }
}

@keyframes jump {
  0%,
  100% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(-10%);
  }
  50% {
    transform: translateY(-5%);
  }
  70% {
    transform: translateY(-10%);
  }
}
